

<div class="card animated fadeIn fast" >
    <img [src]="imgUrl" class="card-img-top" height="370" width="340"  >
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      
      <p class="card-text"><small class="text-muted">{{product.price}} € </small></p>

      <button  type="button" class="btn btn-outline-primary btn-block">Añadir al carrito</button>

      <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más</a> -->

    </div>
  </div>
