<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{product.title}}</th>
        <td>{{product.price}}</td>
        <td><button class="btn btn-primary" >Edit</button></td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
      </tr>
      
    </tbody>
  </table>
